.thumbnail img{
    width: 100%;
}

.thumbnail{
    padding: 0;
}

.thumbnail .caption-full{
    padding: 9px;
}

#delete-form{
    display: inline;
}

/* // this will work only for a tag and form */
.delete-form{
    display: inline;
}